* {
  background-color: rgb(244, 198, 230);
}
.header {
  display: grid;
  justify-content: center;
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.buttonShowAll {
  display: flex;
  margin: auto;
  justify-content: center;
  border: none;
  background-color: aliceblue;
  width: 200px;
  height: 30px;
}

.buttonShowAll:hover {
  width: 300px;
  background-color: darkmagenta;
  font-size: 20px;
  color: wheat;
}
.sortedButton {
  display: flex;
  margin: auto;
  justify-content: center;
  border: none;
  background-color: aliceblue;
  width: 200px;
  height: 30px;
}

.inputTask {
  border: none;
  width: 100px;
  text-align: center;
  margin: auto;
}
.inputTask::placeholder {
  color: rgb(14, 14, 15);
  text-decoration: underline;
  text-decoration-color: rgb(197, 225, 249);
}
